body {
	font-size: 14px;
}

#progress {
	left: 400px;
	top: 200px;
	position: absolute;
	width: 400px;
	height: 120px;
	border: 1px solid black;
	display: none;
}

#progressBar {
	border: 1px solid black;
	width: 300px;
	height: 20px;
	margin-left: 50px;
	margin-top: 60px;
}

#uploaded {
	height: 20px;
	width: 1px;
	background-color: red;
}

#title {
	height: 20px;
	background-color: blue;
	pading: -10px;
}

#close {
	width: 10px;
	height: 10px;
	right: 1px;
	top: 0px;
	position: absolute;
	display: none;
	cursor: pointer;
}