* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-size: 14px;
}

.course {
	width: 242px;
	height: 220px;
	position: relative;
	padding: 20px 20px 20px 20px;
	float: left;
	border-radius: 1px;
	box-shadow: 1px 1px 15px #ccc;
	margin:20px 16px 0 4px;
}
.course:hover{
	background-color:#fff;
	border-radius: 5px;
	box-shadow: 1px 1px 15px #ccc;
	
}
.course a img {
	position: relative;
	z-index: 33;
	border: none;
}

.add {
	width: 890px;
	position: relative;
	float: left;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #ccc;
	background-color: #FFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	margin-top: 30px;
}

.add:hover {
	color: red;
}

.cname{
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-family: "Microsoft YaHei", "serif";
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.cname a{	
	color: #14191e;
	font-size: 15px;
	}
.related {
	height: 18px;
	line-height: 18px;
	color: #14191e;
	text-align: center;
	font-family: "Microsoft YaHei", "serif";
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}