<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mooc</display-name>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.greatmooc.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.greatmooc.web.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.greatmooc.web.servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChapterServlet</servlet-name>
    <servlet-class>com.greatmooc.web.servlet.ChapterServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>com.greatmooc.web.servlet.VideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SchoolServlet</servlet-name>
    <servlet-class>com.greatmooc.web.servlet.SchoolServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>com.greatmooc.admin.web.servlet.AdminCategoryServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AdminCourseServlet</servlet-name>
    <servlet-class>com.greatmooc.admin.web.servlet.AdminCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddSchoolServlet</servlet-name>
    <servlet-class>com.greatmooc.admin.web.servlet.AdminAddSchoolServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddVideoServlet</servlet-name>
    <servlet-class>com.greatmooc.admin.web.servlet.AdminAddVideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddCourseServlet</servlet-name>
    <servlet-class>com.greatmooc.admin.web.servlet.AdminAddCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminChapterServlet</servlet-name>
    <servlet-class>com.greatmooc.admin.web.servlet.AdminChapterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminSchoolServlet</servlet-name>
    <servlet-class>com.greatmooc.admin.web.servlet.AdminSchoolServlet</servlet-class>
  </servlet>
<!--smallclover start-->
<servlet>
    <servlet-name>ProgressBarServlet</servlet-name>
    <servlet-class>com.greatmooc.servlet.ProgressBarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VideoUploadServlet</servlet-name>
    <servlet-class>com.greatmooc.servlet.VideoUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VideoListServlet</servlet-name>
    <servlet-class>com.greatmooc.servlet.VideoListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlayVideoServlet</servlet-name>
    <servlet-class>com.greatmooc.servlet.PlayVideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentListServlet</servlet-name>
    <servlet-class>com.greatmooc.servlet.CommentListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SmileOnServlet</servlet-name>
    <servlet-class>com.greatmooc.servlet.SmileOnServlet</servlet-class>
  </servlet>    
  <servlet-mapping>
    <servlet-name>ProgressBarServlet</servlet-name>
    <url-pattern>/getBar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoUploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoListServlet</servlet-name>
    <url-pattern>/queryAllVideo.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlayVideoServlet</servlet-name>
    <url-pattern>/playVideo.action</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
      <servlet-name>CommentListServlet</servlet-name>
      <url-pattern>/queryAllComment.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>SmileOnServlet</servlet-name>
      <url-pattern>/smileOn.action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCommentServlet</servlet-name>
        <servlet-class>com.greatmooc.servlet.AddCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCommentServlet</servlet-name>
        <url-pattern>/addComment.action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReplyListServlet</servlet-name>
        <servlet-class>com.greatmooc.servlet.ReplyListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReplyListServlet</servlet-name>
        <url-pattern>/queryAllReply.action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddReplyServlet</servlet-name>
        <servlet-class>com.greatmooc.servlet.AddReplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReplyServlet</servlet-name>
        <url-pattern>/addReply.action</url-pattern>
    </servlet-mapping>  
        <error-page>
      <error-code>404</error-code>
      <location>/jsps/404page/error.jsp</location>
    </error-page>  
<!--smallclover end-->
<!--person、teacher、admin-->
<servlet>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.greatmooc.web.servlet.TeacherServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>com.greatmooc.web.servlet.PersonServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>EditPersonServlet</servlet-name>
    <servlet-class>com.greatmooc.web.servlet.EditPersonServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.greatmooc.admin.web.servlet.AdminServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>AdminTeacherServlet</servlet-name>
    <servlet-class>com.greatmooc.admin.web.servlet.AdminTeacherServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>AdminAddTeacherServlet</servlet-name>
    <servlet-class>com.greatmooc.admin.web.servlet.AdminAddTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminVideoServlet</servlet-name>
    <servlet-class>com.greatmooc.admin.web.servlet.AdminVideoServlet</servlet-class>
  </servlet>

  <!--person、teacher、admin-->

<servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/PersonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPersonServlet</servlet-name>
    <url-pattern>/EditPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/AdminServlet</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>AdminAddTeacherServlet</servlet-name>
    <url-pattern>/admin/AdminAddTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddVideoServlet</servlet-name>
    <url-pattern>/admin/AdminAddVideoServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>AdminTeacherServlet</servlet-name>
    <url-pattern>/admin/AdminTeacherServlet</url-pattern>
  </servlet-mapping>





  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ChapterServlet</servlet-name>
    <url-pattern>/ChapterServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/VideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolServlet</servlet-name>
    <url-pattern>/SchoolServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/admin/AdminCategoryServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AdminCourseServlet</servlet-name>
    <url-pattern>/admin/AdminCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddSchoolServlet</servlet-name>
    <url-pattern>/admin/AdminAddSchoolServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddCourseServlet</servlet-name>
    <url-pattern>/admin/AdminAddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminChapterServlet</servlet-name>
    <url-pattern>/admin/AdminChapterServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AdminSchoolServlet</servlet-name>
    <url-pattern>/admin/AdminSchoolServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminVideoServlet</servlet-name>
    <url-pattern>/admin/AdminVideoServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 配置过滤器 -->
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.greatmooc.web.filter.LoginFilter</filter-class>
  </filter>
   <!-- 后台的登陆过滤器 -->
  <filter>
    <display-name>AdminLoginFilter</display-name>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>com.greatmooc.web.filter.AdminLoginFilter</filter-class>
  </filter>
  
  
  <filter-mapping>
   <filter-name>LoginFilter</filter-name>
   <url-pattern>/jsps/person/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
   <filter-name>LoginFilter</filter-name>
   <url-pattern>/PersonServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
   <filter-name>LoginFilter</filter-name>
   <url-pattern>/playVideo.action</url-pattern>
   <url-pattern>/videoplayer/*</url-pattern>
  </filter-mapping>
  <!-- 后台的登陆过滤器 -->
  <filter-mapping>
   <filter-name>AdminLoginFilter</filter-name>
   <url-pattern>/adminjsps/*</url-pattern>
  </filter-mapping>
     
  
</web-app>