* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ddd;
	font-family: "Microsoft YaHei UI", "华文行楷", "华文隶书", "华文宋体";
}

a {
	text-decoration: none;
	text-align: center;
	color:#996633;
}

.chap_main {
	width: 900px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 30px 40px;
	background-color: #FFFFFF;
	min-height: 400px;
}

.title {
	height: 60px;
	background-color:#100202;
	color: #fff;
}

h2 {
	width: 200px;
	float: left;
	height: 60px;
	line-height: 60px;
	margin-left: 360px;
}

.chap_list {
	min-height: 300px;
}

.chap_one {
	
}

.chap_in {
	background-color: #F1F7EC;
	height: 50px;
}

.chap_in h3 {
	float: left;
	line-height: 50px;
	margin-left: 10px;
	font-weight:600;
}

.do {
	width: 80px;
	height: 30px;
	line-height: 30px;
	margin: 10px 10px 0 0;
	border: #006633 solid 1px;
	border-radius: 5px;
	float: left;
}

.addChap {
	color: #FFF;
	float: right;
	border: #eee solid 1px;
	margin-top: 15px;
}

.do_s {
	width: 50px;
	height: 25px;
	line-height: 25px;
	margin: 6px 20px 0 0;
	border: #006633 solid 1px;
	border-radius: 5px;
	float: left;
}

.doMore {
	float: right;
}

.vid_all {
	margin-left: 20px;
}

.vid_one {
	height: 40px;
	border-bottom: #C2F5F4 solid 1px;
}

.vid_one:hover {
	background-color: #FaFAF4;
}

.vid_one h4 {
	float: left;
	margin-left: 12px;
	font-weight:400;
	line-height: 40px;
}