* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none
}

ul {
	list-style: none
}

.menu_list {
	width: 250px;
	margin: 60px 20px 20px 40px;
	background-color: #000;
	border-radius: 5px;
	box-shadow: 1px 1px 15px #fff;
}

.all_cou  a {
	width: 250px;
	height: 55px;
	background: url("/mooc/jsps/images/44.jpg");
	border-radius: 8px;
	box-shadow: 10px 10px10px #fff;
	line-height: 50px;
	margin-top: 1px;
	display: block;
	color: #fdfdff;
	font-weight: bold;
	background-color: #000;
	text-align: center;
	font-family: "微软雅黑";
	cursor: pointer;
}

.cate_1 {
	font-weight: bold;
	width: 250px;
	height: 60px;
	line-height: 60px;
	background-color: #000;
	text-align: center;
	float: left;
	font-size: 16px;
	border-bottom: 1px solid #fdfdfd;
	font-family: "微软雅黑";
	position: relative;
	cursor: pointer;
	color: #fff;
}

.cate_1:hover,.all_cou  a:hover {
	background: url("/mooc/jsps/images/cate_bg.jpg"); rgba (10, 5, 5, 0.5);
	border-radius: 6px;
	box-shadow: 1px 1px10px #fff;
}

.current {
	background: url("/mooc/jsps/images/cate_bg.jpg");
	rgba
	(10,
	5,
	5,
	0.5);
}

.cate_2 {
	float: left;
	width: 250px;
	height: auto;
	overflow: hidden;
	line-height: 38px;
	border-left: 1px solid #e1e1e1;
	backguound: #fff;
	border-right: 1px solid #e1e1e1;
}

.cate_2 a {
	display: block;
	width: 250px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: 600;
	color: #000;
	background: #f1f1f1;
	text-decoration: none;
	border-bottom: 1px solid #e1e1e1;
}