 .page {
   margin:0px auto;
   overflow: hidden;
   clear: both;
   text-align: center;
  }
 .page-inner {
   padding: 0 20px;
}
.page a {
  text-decoration:none;
  display: inline-block;
  margin: 0 5px;
  padding: 0 5px;
  min-width: 20px;
  height: 29px;
  line-height: 30px;
  font-size: 14px;
  color: #787d82;
  text-align: center;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
  display:block;
  font-family:"微软雅黑";
  float:left;
}
.page a:hover {
  border-color: #cc0000;
  color: #cc0000;
  text-decoration: none;
}
.page a.active {
  background: #cc0000;
  color: #ffffff;
  border-color: transparent;
}
.page span,
.page-disabled {
  display: inline-block;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 20px;
  height: 29px;
  line-height: 30px;
  font-size: 14px;
  color: #c8cdd2;
  text-align: center;
  font-family:"微软雅黑";
  float:left;
}
.page-first,
.page-last {
  width: 50px;
}
.page-prev,
.page-next {
  width: 70px;
}
.page .notmargin {
  margin-right: 0;
}