body {
	background: #E2E2E2;
	font-family: "Microsoft YaHei UI", "华文行楷", "华文隶书", "华文宋体";
	color: #fdfdfd;
	font-size: 14px;
}

.addBody {
	width: 500px;
	height: 500px;
	background: #000000;
	margin: 0px auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	background: -webkit-radial-gradient(center, ellipse cover, #64d5ff 0%, #000000 100%);
	background: radial-gradient(center, ellipse cover, #64d5ff 0%, #cc0033 100%);
	padding: 60px 30px 0 30px;
}

.inputDiv {
	position: relative;
}

#sch_name {
	width: 300px;
	height: 40px;
	border: 1px solid #314D89;
	cursor: pointer;
	border-radius: 4px 4px 0 0;
}

label {
	display: inline-block;
	width: 90px;
	text-align: center;
	color: #fcfcfc;
}

.imgDiv {
	height: 50px;
	position: relative;
	margin: 30px 0;
}

.imgBtn {
	width: 126px;
	height: 34px;
	background: url(/mooc/adminjsps/images/上传.jpg) center no-repeat;
	border: 0;
	text-align: center;
}

.file {
	position: absolute;
	top: 0px;
	left: 100px;
	height: 34px;
	filter: alpha(opacity : 0);
	opacity: 0;
	width: 130px
}

.txt {
	height: 32px;
	border: 1px solid #cdcdcd;
	width: 177px;
}

#sch_desc {
	margin: 6px 0 0 98px;
	width: 300px;
	height: 120px;
}

#button {
	width: 200px;
	height: 40px;
	margin: 30px 0 30px 130px;
	font-size: 18px;
	font-weight: bold;
	color: #636363;
}

#button:hover {
	background: -webkit-linear-gradient(top, #cfcfcf 0%, #f2f2f2 100%);
	-webkit-animation: login 1500ms infinite alternate ease-in-out;
}