* {
	margin: 0;
	padding: 0;
}

body {
	background: url("/mooc/jsps/images/bg.jpg")
}

#Search {
	width: 1364px;
	height: 666px;
	position: relative;
}

#Search .index a {
	display: block;
	width: 180px;
	height: 54px;
	background: #e4393c;
	font-family: "微软雅黑";
	font-size: 20px;
	color: #ffffff;
	line-height: 58px;
	padding-left: 55px;
	border-radius: 0.5px 0.5px;
	cursor: pointer;
	position: absolute;
	bottom: 90px;
	left: 540px;
	text-decoration: none;
	border-radius: 11px;
}

#txt {
	border: 3px solid #e4393c;
	height: 27px;
	width: 500px;
	line-height: 25px;
	padding: 10px;
	color: #ccc;
	font-family: "微软雅黑";
	font-size: 15px;
	position: absolute;
	bottom: 200px;
	left: 390px;
}

#Search input[type="submit"] {
	background-color: #e4393c;
	width: 80px;
	height: 53px;
	border: 3px solid #e4393c;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 18px;
	position: absolute;
	bottom: 200px;
	left: 900px;
	cursor: pointer;
}

#Search input[type="submit"]:hover {
	background-color: #ff0000;
}